.header{
    background-color: #1f2937;
    font-size: 24px;
    color: #F9FaF8;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

ul{
    list-style: none;
    display: flex;
}

li{
    font-size: 18px;
    color: #e5e7eb;
}