.header{
    background-color: #1f2937;
    font-size: 24px;
    font-style: Hero;
    color: #F9FaF8;
    display: flex;
    justify-content: space-around;
    align-items: center;

}

ul{
    list-style: none;
    display: flex;
    margin:0;
    
}


li{
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;
}

.header-body{
    background-color: #1f2937;
}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #F9FaF8;
    width: 450px;
}

.title p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;
    font-weight: normal;
    width: 400px;
}

.title button{
    background-color: #3882F6;
    color: #F9FaF8;
    border-radius: 10px;
    border: #3882F6;
}