.body{
    margin: 0;
    padding: 0;
}

.header{
    background-color: #1f2937;
    font-size: 24px;
    font-style: Hero;
    color: #F9FaF8;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin: 0;

}

ul{
    list-style: none;
    display: flex;
    margin:0;
    
}


li{
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;
}

.header-body{
    background-color: #1f2937;
    padding: 60px;
    display: flex;
    justify-content: center;
}

.title{
    font-size: 48px;
    font-weight: bold;
    color: #F9FaF8;
    width: 450px;
}

.title p {
    font-size: 18px;
    color: #e5e7eb;
    margin: 8px;
    font-weight: normal;
    width: 400px;
    margin: 0 ;
    padding:0;
}

.title button{
    background-color: #3882F6;
    color: #F9FaF8;
    border-radius: 20%;
    border:#3882F6;
    margin: 5px;
    margin: 0 ;
    padding: 10px;;
}

.image{
    background-color: gray;
    width: 450px;
    height: 200px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.image placeholder{
    display: flex;
    color: #e5e7eb;
}

.section{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 60px;
} 

.info{
    font-size: 36px;
    font-weight: bold;
    color: #1f2937;
}

.squares{
    display:flex;
    list-style-type: none;
    justify-content: center;

}

.squares li{
    width: 200px;
    height: 200px;
    border: 2px solid #3882F6;
    border-radius: 10%;       
}

.captions li{
    width: 200px;
    color: #1f2937;
    text-align: center;   
}

.section-two{
    background-color:#e5e7eb ;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.quote{
    font-size: 36px;
    font-style: italic;
    color:#1f2937;
    width: 800px;
    margin: 80px;
}

.by{
    display: flex;
    justify-content: flex-end;
    font-weight: bold;
    font-size: 30px;
}

.section-three{
    background-color: #3882F6;
    margin: 100px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    padding: 50px;
}

.tit{
    color: #F9FaF8;
    font-size: 27px;
    display: flex;
    flex-direction: column;

}

.tit pp{
    font-size: 14px;
}

.button{
    color: #F9FaF8;
    border:2px solid #F9FaF8 ;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    border-radius: 10%;
    font-weight: bold;
}

.footer{
    background-color: #1f2937;
    color:#F9FaF8; 
    padding: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}
